.createNew_container {
  width: 300px;
  margin: 0 auto;

  .userCreated {
    margin: 20px auto;
    text-align: center;
    a {
      color: blue;
    }
  }

  .createNew_form {
    margin: 30px 0;

    input {
      width: 100%;
      padding: 5px;
      height: 40px;
      border: 2px solid $button;
      border-radius: 3px;
      font-size: 0.8em;
      margin: 5px 0;
    }

    p {
      color: #bf1650;
      font-size: 0.7rem;
    }

    p::before {
      display: inline;
      content: "⚠ ";
    }

    .submit_newAccount {
      background: $button;
      border: none;
      color: white;
      text-align: center;
    }
  }
}
